<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="TestSuite" parallel="tests">
  <parameter name="browser" value="firefox"/>
  <test name="Test2">
    <classes>
      <class name="test.chet.TC01"/>
      <class name="test.chet.TC02"/>
      <class name="test.chet.TC03"/>
      <class name="test.chet.TC04"/>
      <class name="test.chet.TC05"/>
      <class name="test.chet.TC06"/>
      <class name="test.chet.TC07"/>
    </classes>
  </test> <!-- Test2 -->
</suite> <!-- TestSuite -->
